*{
  margin: 0;
}

.header{
  background-image: linear-gradient(#132d46,#091622) ;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  a{
    color: #ffffff; 
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.5px;
    font-size: 25px;
    transition: color 0.3s ease;
    user-select: none;
  };
  a:hover{
    color: #01c38e;
  }
  .selected-page{
    color: #01c38e;
    text-decoration: underline;
  }
}

.home-content{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  .home-left-column{
    margin: 40px 40px 0px 40px;
    img{
      width: 180px; 
      height: 180px;
      object-fit: cover;
    } 
    li{
     margin-top: 30px;
    }
  }
  .home-information{
    text-align: justify;
    margin: 40px 40px 0px 40px;
  }
  .home-information-images{
    display: flex;
    justify-content: space-around;
    .middle-card{
      margin-left: 20px;
      margin-right: 20px;
    }
    p{
      margin-top: 10px;
    }
    flex-direction: row;
    text-align: justify;
    img{
      width: 180px; 
      height: 180px;
      object-fit: cover;
    }   
    .card{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }

  }
}
/* --------------------------------------------------caracteristicas-------------------------------------------------- */
.caracteristicas-content{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  .cards-izq{
    margin: 40px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    img{
      width: 180px; 
      height: 180px;
      object-fit: cover;
    }   
  }
  .caracteristicas-information{
    text-align: justify;
    margin: 40px 40px 0px 40px; 

    .cards-down{
      display: flex;
      justify-content: space-around;
      img{
        width: 180px; 
        height: 180px;
        object-fit: cover;
      }   
    }
  }
}
/* ---------------------------------------------------Noticias-------------------------------------------------------- */
.noticias-content{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  .three-cards{
    display: flex;
    flex-direction: row;
    img{
      width: 180px; 
      height: 180px;
      object-fit: cover;
    }
  }
  
  .individual-card{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards-information{
    text-align: justify;
    margin: 5px 60px 40px 60px; 
  }
}
/*---------------------------------------------------- Breakpoints ----------------------------------------------------*/
@media only screen and (max-width: 600px) {
  .header{
    a{
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .header{
    flex-direction: column;
    align-items: center;
    gap: 10px;
    a{
      font-size: 24px;
    }
  }
}
